// Centre un élément par rapport à son parent et fixe la largeur pour qu'elle soit responsive
@mixin position-center{
    width: 80%;
    max-width: 960px;
    overflow-y: auto;

    margin: auto;
    padding: $space-double 0;

    // @media #{$smartphone}{
    //     // margin: 0;
    //     margin-right: 0%;
    //     // float: right;
    //   }
}


// Permet d'occuper un maximum d'espace verticalement sans déformer la page 
@mixin adaptive-height(){
    height: fit-content;
    min-height: 85%;
}