// Variables se rapportant à l'identité visuelle du projet

// PALETTTE DE COULEURS : 
/////////////////////////
$color-primary :        #616160;
$color-primary-light:   rgb(214, 214, 214);
$color-primary-dark:    rgba(0,0,0,0.8);

$color-background:      rgb(255, 255, 255);
$color-accent:          #6b6964;
$color-divider:         #BDBDBD;
$color-menu:            #20201f;

$color-primary-text:    rgb(17, 17, 17);
$color-secondary-text:  rgb(255, 245, 245);

$color-to-white:        rgba(255, 255, 255, 0.5);

$color-link :           rgb(255, 245, 245);


// Variables se rapportant à la police d'écriture
$font-main: 'Roboto', sans-serif;
$font-small: 0.8em;


// Variables se rapportant à la mise en page
$space: 8px;
$space-double: ($space * 2);
$space-quad: ($space-double * 2);


// Media queries
// $smartphone: screen and (max-width: 800px);
// $pc: screen and (min-width: 840px);
$smartphone: "screen and (orientation: portrait)";
$pc: "screen and (min-width: 840px)";


// Aide au debug, NE DOIS PAS JAMAIS ÊTRE UTILISE DANS LA VERSION DEFINITIVE !!!
$border-debug: 1px solid red;