@charset "UTF-8";
/*///////////////////////////////////////////////////////////////////////////////////////////////////////
// Dans le dossier "modules", uniquement des fichiers qui ne produisent rien en CSS une fois compilé. //
/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////
// Dans ce fichier, on importe toutes les ressources externes au projet //
///////////////////////////////////////////////////////////////////////*/
@import url("reset.css");
@font-face {
  font-family: 'Roboto';
  src: url("/assets/fonts/Roboto-Regular") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("/assets/fonts/Roboto-Bold") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("/assets/fonts/Roboto-Italic") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("/assets/fonts/Roboto-BoldItalic") format("truetype");
  font-weight: bold;
  font-style: italic;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
// Dans le dossier "partials", uniquement des fichiers qui correspondent aux styles d'une partie du site //
////////////////////////////////////////////////////////////////////////////////////////////////////////*/
a {
  color: #fff5f5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #fff5f5;
}

a[title] {
  text-decoration: underline dotted #111111;
}

a[title]:hover {
  text-decoration: underline;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: white;
  font-family: "Roboto", sans-serif;
  color: #111111;
  overflow-x: hidden;
}

h1, h2, h3 {
  text-transform: uppercase;
  color: #fff5f5;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1em;
}

hr {
  border: none;
  border-bottom: 1px solid #BDBDBD;
}

p {
  margin: 8px 0;
}

ul {
  width: fit-content;
  padding-left: 8px;
}

ul li {
  margin: 8px 0;
}

.container {
  width: 80%;
  max-width: 960px;
  overflow-y: auto;
  margin: auto;
  padding: 16px 0;
}

.container aside {
  background-color: #20201f;
}

@media screen and (orientation: portrait) {
  main .container {
    margin-right: 4%;
  }
}

header {
  width: 100%;
  height: fit-content;
  min-height: 10%;
  background-color: rgba(0, 0, 0, 0.8);
}

header h1 {
  float: left;
  color: #fff5f5;
}

header h1 a {
  color: #fff5f5;
}

header ul {
  float: right;
}

main {
  height: fit-content;
  min-height: 85%;
  box-sizing: border-box;
  padding: 16px 0;
}

main .container {
  padding: 0;
}

main aside, main section {
  position: relative;
  padding: 16px;
  background-color: #eaeaea;
}

main aside {
  float: left;
  width: 33%;
  height: 80vh;
  z-index: 1;
}

@media screen and (orientation: portrait) {
  main aside {
    position: absolute;
    left: -50%;
    width: 50%;
    transition: left 0.5s;
    font-size: 4em;
  }
}

main section {
  float: right;
  width: 65%;
  min-height: 80vh;
}

@media screen and (orientation: portrait) {
  main section {
    width: 100%;
  }
}

footer {
  width: 100%;
  height: fit-content;
  min-height: 5%;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 0.8em;
  text-align: center;
  color: #d6d6d6;
}

.catalog {
  height: fit-content;
}

.catalog .item {
  width: 45%;
  height: 300px;
  float: left;
  margin: 2%;
  padding: 16px;
  border: 1px solid #616160;
  border-radius: 8px;
  font-size: 0.8em;
}

@media screen and (orientation: portrait) {
  .catalog .item {
    width: 100%;
    margin: 2% 0;
  }
}

.catalog .item .title {
  font-size: 1.4em;
}

.catalog .item .author:after {
  content: "\A";
}

.catalog img {
  display: block;
}

.catalog img.cover {
  float: left;
  max-width: 100px;
  margin-right: 8px;
}

.catalog img.profil-pic {
  float: right;
  max-width: 50px;
}

#menu-burger {
  opacity: 0;
  padding: 8px;
  padding-bottom: 16px;
  position: absolute;
  top: 0;
  right: -25%;
  background-color: #616160;
  border-radius: 0 0 12px 0;
}

@media screen and (orientation: portrait) {
  #menu-burger {
    cursor: pointer;
    opacity: 1;
  }
}

.user-page {
  width: 80%;
  max-width: 960px;
  overflow-y: auto;
  margin: auto;
  padding: 16px 0;
  height: 85vh;
  background-color: white;
}

.user-page nav {
  height: auto;
  padding: 10px;
  background-color: #6b6964;
  color: #d6d6d6;
}

.user-page section {
  height: fit-content;
  min-height: 85%;
  background-color: #eaeaea;
  width: 100%;
  margin: 0 auto;
}

.user-page section .display {
  background-image: url("../img/test.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
}

.page_06 div {
  display: inline-block;
  width: 100%;
}

.page_06 div div {
  width: 49%;
  height: 100%;
  vertical-align: top;
}

.page_06 div div img {
  width: 100%;
}

.page_06 div div label {
  width: 100%;
}

.page_06 div div input {
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 6vh;
  padding: 10px;
  border: none;
  border-bottom: 2px solid green;
  text-align: center;
}

.page_06 section p {
  display: block;
  margin: 50px;
}
/*# sourceMappingURL=style.css.map */