
footer{
    // position: absolute;
    // bottom: 0;

    width: 100%;
    height: fit-content;
    min-height: 5%;

    background-color: $color-primary-dark;

    font-size: $font-small;
    text-align: center;
    color: $color-primary-light;
}