

header{
    width: 100%;
    height: fit-content;
    min-height: 10%;

    background-color: $color-primary-dark;

    h1{
        float: left;
        color: $color-secondary-text;
        a {
            color: $color-secondary-text;
        }
    }
    ul{
        float: right;
    }
}