main{
    box-sizing: border-box;
    position: relative;
    height: fit-content;
    min-height: 85%;

    overflow-y: auto;
    
    padding: $space-double 0;

    .container{
        background-color: lighten($color-primary-light, 8%);
        padding: 0;
    }

    aside, section{
        padding: $space-double;
        border: $border-debug;
    }

    aside{
        float: left;

        width: 33%;
        height: 80vh;
    }

    section{
        float: right;
        
        width: 65%;
        min-height: 80vh;
    }
}