main{
    @include adaptive-height;
    box-sizing: border-box;
    padding: $space-double 0;

    .container{
        padding: 0;
    }
    
    aside, section{
        position: relative;
        padding: $space-double;
        background-color: lighten($color-primary-light, 8%);
    }

    aside{
        float: left;

        width: 33%;
        height: 80vh;
        
        z-index: 1;

        // @media screen and (orientation: portrait){
        @media #{$smartphone}{
            position: absolute;
            left: -50%;

            width: 50%;
            transition: left 0.5s;

            font-size: 4em;
            // &:hover{
            //     left: 0%;
            // }
        }
    }

    section{
        float: right;
        
        width: 65%;
        min-height: 80vh;

        // @media screen and (orientation: portrait){
        @media #{$smartphone}{
            width: 100%;
        }
    }
}