// Elément HTML //

a{
  color: $color-link;
  text-decoration: none;

  &:hover{
    text-decoration: underline;
  }

  &:active{
    color: $color-secondary-text;
  }

  &[title]{
    text-decoration: underline dotted $color-primary-text;

    &:hover{
      text-decoration: underline;
    }
  }
}

body{
  position: relative;
  width: 100vw;
  height: 100vh;
    
  background-color: $color-background;

  font-family: $font-main;
  color: $color-primary-text;

  // overflow: hidden;
  overflow-x: hidden;
}

h1, h2, h3{
  text-transform: uppercase;
  color: $color-secondary-text;
}

h1, h2, h3, h4, h5{
  font-weight: bold;
}

// Génération auto des tailles de polices pour les titres (h1 à h6)
@for $i from 1 to 6{
  $max-font-size: 3;
  $decrease-size: 0.4;
  
  h#{$i}{
    font-size: ($max-font-size - ($i * $decrease-size)) + em;
  }
}

hr{
  border: none;
  border-bottom: 1px solid $color-divider;
}

p{
  margin: $space 0;
}

ul{
  width: fit-content;
  padding-left: $space;
  
  li{
    margin: $space 0;
  }
}


// CLASSES //
.container{
  @include position-center;
  aside {
    background-color: $color-menu;
  }
}

.item{
  width: 45%;
  height: 300px;
  float: left;
  margin: 2%;

  padding: $space-double;

  border: 1px solid $color-primary;
  border-radius: 8px;

  font-size: 0.8em;

  @media #{$smartphone}{
      width: 100%;
      margin: 2% 0;

      // font-size: 1.2em;
  }

  .title{
      font-size: 1.4em;
  }

  .author{
      &:after{
          content: "\A";
      }
  }

  img{
    display: block;

    &.cover{
        float: left;
        max-width: 100px;

        margin-right: $space;
    }
    
    &.profil-pic{
        float: right;
        max-width: 50px;
    }
  }
}


main{
  .container{
    @media #{$smartphone}{
      margin-right: 4%;
    }
  }
}