//NAVIGATION
//USER PAGE
.user-page {
    @include position-center;

    height: 85vh;
    background-color: $color-background;
    
    nav {
        height: auto;
        padding: 10px;
        background-color: $color-accent;
        color: $color-primary-light;
    }
    
    section {
        @include adaptive-height;
        background-color: lighten($color-primary-light, 8%);
        width: 100%;
        margin: 0 auto;
        .display {
            background-image: url("../img/test.png");
            background-size: contain;
            background-repeat: no-repeat;
            width: 150px;
            height: 150px;
        }
    }
}
